:root{ 
    --fundotela: #000000;
    --fundomenu: #ffffff;
    --fontemenu: font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte2: Times, New Roman;
  
  }
h1{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: var(--fonte2);
}
#frase1{
    margin-top: -2vh;
    font-size: 10vh;
    margin-left: 8%;
    color: #ffffff;
}

/*button:hover {opacity: 0.7;}*/
a:hover{
    opacity: 0.7;
}

#img_apostolos{
    width: 100%;
    height: 35%;
    margin-top: 15vh;
    display: absolute;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
}
p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: var(--fonte2);
    margin-top: 5vh;}



@media only screen and (max-width: 1066px){

   .inicio-page{
      overflow-y: auto;
      overflow-x: hidden;
    }
   
  #frase1{
    font-size: 300%;
    margin-top: -15vh;
    margin-left: -35%;
  }
 
#img_apostolos{
    width: 150%;
    height: 135vh;
    margin-top: -5vh;
    margin-left: -32%;
}

}
@media only screen and (max-width: 1267px){
#img_apostolos{
      width: 45cap;
      height: 65%;
      margin-left: -30%;
      margin-top: -1vh;
  
}

}
@media only screen and (max-width: 550px){

  #frase1{
    font-size: 250%;
    margin-top: -1vh;
    margin-left: 5%;
  }
#img_apostolos{
    width: 45cap;
    height: 65%;
    margin-left: -38vh;
    margin-top: 12vh;
  }
}
